<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
  </configSections>
  <log4net>
    <!--txt logger start-->
    <logger name="txtloggerExLogs">
      <level value="ALL" />
      <appender-ref ref="OtherRollingFileAppender"/>
      <appender-ref ref="DebugRollingFileAppender"/>
    </logger>
    <appender name="OtherRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="1024" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <datePattern value="yyyyMMddhh&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline 线程:[%thread]%newline 级别:%-5level%newline 日志:%logger%newline 附加信息: %message%newline 时间: %date%newline"   />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <appender name="DebugRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="1024" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <datePattern value="yyyyMMdd&quot;Debug.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline 线程:[%thread]%newline 级别:%-5level%newline 日志:%logger%newline 附加信息: %message%newline 时间: %date%newline"   />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="DEBUG" />
      </filter>
    </appender>
    <!--txt logger end-->

    <!--db logger start bin下需MySql.Data.dll-->
    <logger name="dbloggerExLogs">
      <level value="ALL" />
      <appender-ref ref="dbloggerExLogsAppender" />
    </logger>
    <appender name="dbloggerExLogsAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="1"/>
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <connectionString value="SERVER=61.232.11.210;UID=admin;PWD=wNTzJEo7UKtuLMfO;DATABASE=recolte_syslogs;PORT=3306;charset=utf8;" />
      <commandText value="INSERT INTO web_exlogs (ServIp,Controller,Action,QueryUrl,FromData,ExceptionId,ExceptionMsg,UserId,RequestIp,ExceptionTime) VALUES (@ServIp, @Controller, @Action, @QueryUrl, @FromData, @ExceptionId, @ExceptionMsg, @UserId, @RequestIp, @log_date)"/>
      <parameter>
        <parameterName value="@ServIp"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{ServIp}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Controller"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{Controller}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Action"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{Action}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@FromData"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{FromData}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@QueryUrl"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{QueryUrl}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ExceptionId"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{ExceptionId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ExceptionMsg"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{ExceptionMsg}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UserId"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{UserId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@RequestIp"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{RequestIp}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
    </appender>
    <logger name="dbloggerPtLogs">
      <level value="ALL" />
      <appender-ref ref="dbloggerPtLogsAppender" />
    </logger>
    <appender name="dbloggerPtLogsAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="1"/>
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <connectionString value="SERVER=61.232.11.210;UID=admin;PWD=wNTzJEo7UKtuLMfO;DATABASE=recolte_syslogs;PORT=3306;charset=utf8;" />
      <commandText value="INSERT INTO web_ptlogs (ServIp,Controller,Action,QueryUrl,FromData,UserId,RequestIp,RunMilliseconds,MonitorTime) VALUES (@ServIp, @Controller, @Action, @QueryUrl, @FromData, @UserId, @RequestIp, @RunMilliseconds, @log_date)"/>
      <parameter>
        <parameterName value="@ServIp"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{ServIp}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Controller"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{Controller}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Action"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{Action}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@FromData"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{FromData}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@QueryUrl"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{QueryUrl}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UserId"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{UserId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@RequestIp"/>
        <dbType value="String"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{RequestIp}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@RunMilliseconds"/>
        <dbType value="Int64"/>
        <layout type="Recolte.Web.Tools.CustomPatternLayout">
          <param name="ConversionPattern" value="%property{RunMilliseconds}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
    </appender>
    <!--db logger end-->
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>