<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <!--本地局域网ip-->
    <add key="LocalIp"  value="127.0.0.1"/>
    <!--hprose服务器ip port-->
    <add key="hproseIpPort" value="127.0.0.1:4321"/>
    <!--hprose请求token-->
    <add key="hproseSecretKey" value="hylinkad"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule"/>
    </modules>
    <staticContent>
      <mimeMap fileExtension="json" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms name="loginState" loginUrl="~/login.html" defaultUrl="~/index" timeout="43200" path="/"/>
    </authentication>
    <globalization fileEncoding="utf-8"/>
  </system.web>
</configuration>
